In [ ]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/playground-series-s3e2/sample_submission.csv
/kaggle/input/playground-series-s3e2/train.csv
/kaggle/input/playground-series-s3e2/test.csv

# Loading Data

In [2]:
train_data = pd.read_csv('/kaggle/input/playground-series-s3e2/train.csv')
test_data = pd.read_csv('/kaggle/input/playground-series-s3e2/train.csv')

In [3]:
train_data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked,0
1,1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked,0
2,2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown,0
3,3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked,0
4,4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked,0
...,...,...,...,...,...,...,...,...,...,...,...,...
15299,15299,Female,22.0,0,0,No,Govt_job,Urban,72.63,19.5,never smoked,0
15300,15300,Female,46.0,1,0,Yes,Private,Urban,101.19,32.1,never smoked,0
15301,15301,Female,75.0,0,0,Yes,Self-employed,Urban,87.69,26.2,never smoked,0
15302,15302,Male,46.0,0,0,Yes,Private,Rural,101.13,22.5,Unknown,0
15303,15303,Female,14.0,0,0,No,Private,Rural,85.12,24.7,never smoked,0

# Train Data preprocessing

In [4]:
label_encode_X = LabelEncoder()

train_data['gender'] = label_encode_X.fit_transform(train_data['gender'])
train_data['ever_married'] = label_encode_X.fit_transform(train_data['ever_married'])
train_data['Residence_type'] = label_encode_X.fit_transform(train_data['Residence_type'])

In [5]:
columns = train_data.columns
y = train_data.stroke
features = ['gender','age', 'ever_married','hypertension','heart_disease', 'avg_glucose_level', 'bmi', 'Residence_type']
X = train_data[features]
X,y

(       gender   age  ever_married  hypertension  heart_disease  \
 0           1  28.0             1             0              0
 1           1  33.0             1             0              0
 2           0  42.0             1             0              0
 3           1  56.0             1             0              0
 4           0  24.0             0             0              0
 ...       ...   ...           ...           ...            ...
 15299       0  22.0             0             0              0
 15300       0  46.0             1             1              0
 15301       0  75.0             1             0              0
 15302       1  46.0             1             0              0
 15303       0  14.0             0             0              0

        avg_glucose_level   bmi  Residence_type
 0                  79.53  31.1               1
 1                  78.44  23.9               0
 2                 103.00  40.3               0
 3                  64.87  28.8               1
 4                  73.36  28.8               0
 ...                  ...   ...             ...
 15299              72.63  19.5               1
 15300             101.19  32.1               1
 15301              87.69  26.2               1
 15302             101.13  22.5               0
 15303              85.12  24.7               0

 [15304 rows x 8 columns],
 0        0
 1        0
 2        0
 3        0
 4        0
         ..
 15299    0
 15300    0
 15301    0
 15302    0
 15303    0
 Name: stroke, Length: 15304, dtype: int64)

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [7]:
X = scaler.fit_transform(X)

# Training Model

In [8]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [9]:
# train_X, X, train_y, y = train_test_split(X,y,test_size=0.2)

In [10]:
# accuracies = []
# for i in range(1,100):
#     model = KNeighborsClassifier(n_neighbors=i)
#     model.fit(train_X,train_y)
#     predicted_y = model.predict(X)
    
#     accuracy = f1_score(y,predicted_y)
#     accuracies.append(accuracy)
#     print("n Neighbors = ",i)
#     print("f1 Score: ",f1_score(y,predicted_y))
#     print("Accuracy: ",round(accuracy_score(y,predicted_y)*100,3),"%")
# accuracies.pop(0)
# print(max(accuracies), "at n_neighbors = ", accuracies.index(max(accuracies)))

In [11]:
model = KNeighborsClassifier(n_neighbors=5)
# model.fit(train_X,train_y)
model.fit(X,y)
predicted_y = model.predict(X)

In [12]:
from sklearn.metrics import accuracy_score,f1_score
from sklearn.metrics import confusion_matrix

# F1 and Accuracy

In [13]:
print("f1 Score: ",f1_score(y,predicted_y))
print("Accuracy: ",round(accuracy_score(y,predicted_y)*100,3),"%")

f1 Score:  0.27101631116687575
Accuracy:  96.204 %

In [14]:
cm = confusion_matrix(y,predicted_y)
print(cm)

[[14615    57]
 [  524   108]]

# Preparing Test Data

In [15]:
test_data = pd.read_csv('/kaggle/input/playground-series-s3e2/test.csv')

In [16]:
test_data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,15304,Female,57.0,0,0,Yes,Private,Rural,82.54,33.4,Unknown
1,15305,Male,70.0,1,0,Yes,Private,Urban,72.06,28.5,Unknown
2,15306,Female,5.0,0,0,No,children,Urban,103.72,19.5,Unknown
3,15307,Female,56.0,0,0,Yes,Govt_job,Urban,69.24,41.4,smokes
4,15308,Male,32.0,0,0,Yes,Private,Rural,111.15,30.1,smokes
...,...,...,...,...,...,...,...,...,...,...,...
10199,25503,Female,27.0,0,0,No,Private,Urban,75.77,17.6,never smoked
10200,25504,Male,49.0,0,0,Yes,Private,Urban,102.91,26.7,Unknown
10201,25505,Female,3.0,0,0,No,children,Rural,104.04,18.3,Unknown
10202,25506,Male,31.0,0,0,Yes,Private,Urban,82.41,28.7,never smoked
10203,25507,Female,2.0,0,0,No,children,Urban,85.12,14.8,Unknown

In [17]:
label_encode_X = LabelEncoder()

test_data['gender'] = label_encode_X.fit_transform(test_data['gender'])
test_data['ever_married'] = label_encode_X.fit_transform(test_data['ever_married'])
test_data['Residence_type'] = label_encode_X.fit_transform(test_data['Residence_type'])
test_data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,15304,0,57.0,0,0,1,Private,0,82.54,33.4,Unknown
1,15305,1,70.0,1,0,1,Private,1,72.06,28.5,Unknown
2,15306,0,5.0,0,0,0,children,1,103.72,19.5,Unknown
3,15307,0,56.0,0,0,1,Govt_job,1,69.24,41.4,smokes
4,15308,1,32.0,0,0,1,Private,0,111.15,30.1,smokes
...,...,...,...,...,...,...,...,...,...,...,...
10199,25503,0,27.0,0,0,0,Private,1,75.77,17.6,never smoked
10200,25504,1,49.0,0,0,1,Private,1,102.91,26.7,Unknown
10201,25505,0,3.0,0,0,0,children,0,104.04,18.3,Unknown
10202,25506,1,31.0,0,0,1,Private,1,82.41,28.7,never smoked
10203,25507,0,2.0,0,0,0,children,1,85.12,14.8,Unknown

In [18]:
columns_test = test_data.columns
features = ['gender','age', 'ever_married','hypertension','heart_disease', 'avg_glucose_level', 'bmi', 'Residence_type']
X_test = test_data[features]
X_test

,gender,age,ever_married,hypertension,heart_disease,avg_glucose_level,bmi,Residence_type
0,0,57.0,1,0,0,82.54,33.4,0
1,1,70.0,1,1,0,72.06,28.5,1
2,0,5.0,0,0,0,103.72,19.5,1
3,0,56.0,1,0,0,69.24,41.4,1
4,1,32.0,1,0,0,111.15,30.1,0
...,...,...,...,...,...,...,...,...
10199,0,27.0,0,0,0,75.77,17.6,1
10200,1,49.0,1,0,0,102.91,26.7,1
10201,0,3.0,0,0,0,104.04,18.3,0
10202,1,31.0,1,0,0,82.41,28.7,1
10203,0,2.0,0,0,0,85.12,14.8,1

In [19]:
X_test = scaler.fit_transform(X_test)

# Predicting Test Data

In [20]:
Y_PREDICTED = model.predict(X_test)
Y_PREDICTED

array([0, 0, 0, ..., 0, 0, 0])

In [21]:
output = pd.DataFrame(Y_PREDICTED,columns=['stroke'])

In [22]:
output['id'] = test_data['id']
output = output.iloc[:,[1,0]]

In [23]:
output

          id  stroke
0      15304       0
1      15305       0
2      15306       0
3      15307       0
4      15308       0
...      ...     ...
10199  25503       0
10200  25504       0
10201  25505       0
10202  25506       0
10203  25507       0

[10204 rows x 2 columns]

In [24]:
output.to_csv('/kaggle/working/output.csv')